/*
*********************************
CORNELL UNIVERSITY COLOR PALETTE
Downloaded from brand.cornell.edu
*********************************

Cornell Red:        #b31b1b
Black:              #222222
White:              #ffffff
Light Gray:         #f7f7f7
Link Color:         #3787b0
Green:              #6eb43f
Orange:             #f8981d
Bright Red:         #ef4035
Navy Blue:          #073949
Royal Blue:         #0068ac
Light Blue:         #89cce2
Light Green:        #c9d6a5
Dark Brown:         #a2998b
Light Brown/Beige:  #d8d2c9
Dark Khaki:         #9fad9f

*/

